body {
    max-width: 100%;
    margin: 0rem;
    box-sizing: content-box;
    background-color: #333333;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex--column {
    flex-direction: column;
}

.flex--center {
    justify-content: center;
    align-items: center;
}

.flex--nowrap {
    flex-wrap: nowrap;
}

.flex--end {
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}

.text--center {
    text-align: center;
}

.setting__item {
    padding: 1rem;
}

.setting__item-button {
    margin: 1rem;
    background: transparent/*#99CC00*/;
    border: 0px white solid;
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1rem;
    color: white;
}

.setting__item-button:focus {
    outline: none;
  }

.feedback {
    padding-top: 0.5rem;
    height: 16rem; 
}

.feedback--positionRelative {
    position: relative;
    height: 15rem;
}

.feedback--positionAbsolute {
    position: absolute;
    width: 15rem;
    height: 15rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.feedback__fillingBackgroundPanel {
    background: #99CC00;
    z-index: 1;
}

.feedback__coverPanel {
    background: radial-gradient(transparent 7.49rem, rgba(51,51,51,1) 0);
    z-index: 2;
}

.feedback__sectionPanel {
    box-sizing: border-box;
    border: 3px #99CC00 solid;
    border-radius: 50%;
    z-index: 4;
}

.feedback__item {
    margin: 1rem;
    font-family: "Orbitron";
    font-size: 1.5rem;
}

.audio {
    margin-top: 1rem;
}

.hidden {
    display: none;
}