body {
    max-width: 100%;
    margin: 0rem;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex--column {
    flex-direction: column;
}

.flex--center {
    justify-content: center;
    align-items: center;
}

.flex--nowrap {
    flex-wrap: nowrap;
}

.flex--end {
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}

.text--center {
    text-align: center;
}

.setting__item {
    padding: 1rem;
}

.setting__item-button {
    margin: 1rem;
}

.feedback {
    border: 1px black solid;
}

.feedback--positionRelative {
    position: relative;
    height: 15rem;
}

.feedback--positionAbsolute {
    position: absolute;
    width: 15rem;
    height: 15rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.feedback__fillingBackgroundPanel {
    border: 1px green solid;
    background: rgba(141, 78, 78, 0.5);
    max-height: 100%;
}

.feedback__coverPanel {
    border: 1px red solid;
    background: radial-gradient(transparent 7.5rem, rgba(0,0,0,1) 0);/*
    background: -moz-radial-gradient(transparent 150px, rgba(0,0,0,1) 150px);
    background: -webkit-radial-gradient(transparent 150px, rgba(0,0,0,1) 150px);
    background: -ms-radial-gradient(transparent 150px, rgba(0,0,0,1) 150px);
    background: -o-radial-gradient(transparent 150px, rgba(0,0,0,1) 150px);*/
    pointer-events: none; /* send mouse events beneath this layer */

}

.feedback__sectionPanel {
    border: 1px blue solid;
    border-radius: 100rem;
}

.feedback__item {
    margin: 1rem;
    z-index: 2;
}

.audio {
    margin-top: 1rem;
}

.hidden {
    display: none;
}